.highlight-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
}

.details-section {
    display: flex;
    justify-content: space-between;
}

.input-section {
    display: flex;
    justify-content: center;
    margin: 1em;
}

.header-section {
    text-align: center;
    margin-top: 1em !important;
}

.highlight {
    width: 560px;
}

.left-arrow,
.right-arrow {
    margin-top: 10rem;
}

.left-arrow-responsive,
.right-arrow-responsive {
    display: none;
}

@media screen and (max-width: 768px) {
    .highlight-section {
        flex-direction: column;
        align-items: center;
    }

    .highlight {
        width: 540px;
    }

    .details-section {
        flex-direction: column;
        align-items: center;
    }

    .left-arrow,
    .right-arrow {
        display: none;
    }

    .left-arrow-responsive,
    .right-arrow-responsive {
        display: block;
    }

    .arrows-responsive {
        display: flex;
        justify-content: center;
    }

}

@media screen and (max-width: 576px) {

    .highlight {
        width: 340px;
    }

}

@media screen and (max-width: 350px) {

    .highlight {
        width: 270px;
    }

}