.about-page {
    margin: 2em;
    padding: 2em;
    text-align: center;
    border: 1px solid #1976d2;
}

#p-img {
    width: 250px;
    height: 250px;
}

p {
    margin: 5px
}

.links-section {
    display: flex;
    justify-content: center;
}